
@font-face {
    font-family: 'notoregular';
    src: url('./noto/NotoSans-Regular.ttf') format('truetype');
    src: url('./noto/Noto-Sans-regular.woff') format('woff');
    font-weight: normal;
    font-display:swap;
    font-style: normal;

}
