footer {
    right: 20px;
    position: fixed;
    bottom: 20px;
    @include neon;
    @include mobile {
        font-size: 14px;
    }
}

footer a {
    display: inline-block;
    padding: 0 0 30px 10px;
    transform-origin: top right;
    transform: rotate(60deg);
    position: absolute;
}

footer a:hover {
    color: $link;
}

#github {
    right: 10px;
    bottom: -40px;
}

#facebook {
    right: 55px;
    bottom: -40px;
}