
@font-face {
    font-family: 'notoregular';
    src: url('./noto/NotoSans-Regular.ttf') format('truetype');
    src: url('./noto/NotoSans-Regular.eot?#iefix') format('embedded-opentype');
    src: url('./noto/noto.woff') format('woff');
    src: url('./noto/noto.woff2') format('woff2');
    font-weight: normal;
    font-display:swap;
    font-style: normal;
}
