
-
    var Projects = [
        {link: "https://kiszuriwalilibori.github.io/Fizjoterapia/", datasrc: "project_images/fizjo.jpg", alt: "Physioterapy", description:"SPA - wizytówka fikcyjnego gabinetu odnowy biologicznej", text: "GSAP, JS, JQuery, HTML, SCSS"},
        {link: "https://kiszuriwalilibori.github.io/JSBN/", datasrc: "project_images/JSBooks.jpg", alt: "JS Books", description:"MVC w czystym, obiektowym JS, 0 bibliotek. Skądinąd praca kwalifikacyjna stąd czasami zasakakujący wygląd", text: "JS, HTML, SCSS"},
        {link: "https://kiszuriwalilibori.github.io/crypto_redux_router/", datasrc: "project_images/Cryptos.jpg", alt: "CryptoCurrency tracker",description:"Tracker kryptowalut, odświeża dane co 5s", text: "React, Router, Redux, Material UI, Styled Components, Axios"},
        {link: "https://kiszuriwalilibori.github.io/google_books_router_redux/", datasrc: "project_images/googlebooksfinder.jpg", alt: "Google Books Finder", description:"Aplikacja umożliwia wyszukiwanie książek w zasobach Google Books a także sortowanie i filtrowanie wyników. Wykorzystano Google Books API", text: " Router, Redux, React, Material UI"},
        {link: "https://kiszuriwalilibori.github.io/AboutMe/", datasrc: "project_images/aboutme.jpg", alt: "AboutMe - archive",description:"Stara wersja strony domowej", text: "JS, HTML, SCSS, PUG"},
        {link: "https://kiszuriwalilibori.github.io/Athletes/", datasrc: "project_images/hiddenpotential.jpg", alt: "Athletes",description:"Aplikacja sczytuje dane słynnych sportowców i analizuje ich ukryty potencjał, co prowadzi do nieoczekiwanych konkluzji", text: "REACT, JS, HTML, SCSS "},
        {link: "https://kiszuriwalilibori.github.io/unamo_redux/", datasrc: "project_images/unamo.jpg", alt: "Unamo", description:"Tabela pobierająca dane z zewnętrznego źródła, umożliwia sortowanie oraz dodawanie/odejmowanie rekordów wraz z ich walidacją", text: "Redux, Thunk,REACT, JS"},
        {link: "https://kiszuriwalilibori.github.io/hype4mobile/", datasrc: "project_images/hype.png", alt: "Drzewo", description:"Prosty interfejs wspierający drzewo kryteriów", text: 'Redux, React, Material UI'},
        {link: "https://kiszuriwalilibori.github.io/abmn/", datasrc: "project_images/abmn.jpg", alt: "About Me Latest", text: 'HTML, SCCC, JS'},
    ]
-
    var Skills = [
        {datasrc: "images/csss.webp",datasrcfall: "./styles/img/skill_icons/scss.png", rating: 4, alt:"logo CSS", title:"CSS 3", text:"Kaskadowe arkusze stylów opisują wygląd dokumentu HTML. CSS definiuje jak elementy HTML powinny się wyświetlać na stronie. Można za jego pomocą zdefiniować wiele parametrów, takich jak rodzaj czcionek, kolor tła, wyrównanie elementów na stronie itp.", link:"https://pl.wikipedia.org/wiki/Kaskadowe_arkusze_styl%C3%B3w", icon:"icon-wikipedia", icontext:'CSS on Wiki'},
        {datasrc: "images/html.webp",datasrcfall: "./styles/img/skill_icons/html.png", rating: 4, alt:"logo HTML", title:"HTML", text:"HTML to podstawowy język tworzenia stron inter&shy;neto&shy;wych. Opisuje strukturę stron za pomocą tagów. Moż&shy;na powiedzieć, że elementy HTML to cegiełki, z których zbudowana jest strona internetowa.", link:"https://pl.wikipedia.org/wiki/HTML", icon:"icon-wikipedia", icontext:'HTML on Wiki'},
        {datasrc: "images/js.webp", datasrcfall: "./styles/img/skill_icons/js.gif", rating: 3, alt:"logo JS", title:"Java Script", text:"JavaScript to powszechnie stosowany język programowania, służący między innymi do nadawania stronom HTML dynamicznego charakteru. Do JavaScript są liczne biblioteki. Jedna z nich to jQuery, której się właśnie uczę.", link:"https://pl.wikipedia.org/wiki/JavaScript", icon:"icon-wikipedia", icontext:'Java Script on Wiki'},
        {datasrc: "images/sass.webp", datasrcfall: "./styles/img/skill_icons/css.png", rating: 4, alt:"logo SASS", title:"Sass", text:"Sass to preprocessor CSS wzbogacający ten język o specyficzne możliwości takie jak zmienne, mixi&shy;ny/&shy;do&shy;mieszki i wiele innych. Celem jest upro&shy;szczenie procesu tworzenia kodu i ułatwienie pisania kodu bardziej efektywnego.", link:"https://sass-lang.com/", icon:"icon-sass", icontext:'Project page'},
        {datasrc: "images/bootstrap.webp", datasrcfall: "./styles/img/skill_icons/bootstrap.png",rating: 4, alt:"logo Bootstrap", title:"Bootstrap", text:"Bootstrap to zestaw narzędzi open&shy;sourcowych do stosowania z HTML, CSS i JS. Umożliwia szybkie prototypowanie pomysłów oraz budowanie całych aplikacji wykorzystujących zmienne i mixiny Sass, responsywną siat&shy;kę, liczne gotowe komponenty, i mocarne pluginy napisane w jQuery.", link:"https://getbootstrap.com/", icon:"icon-bootstrap", icontext:'Project&nbsp;page'},
        {datasrc: "images/react.webp", datasrcfall: "./styles/img/skill_icons/react.png", rating: 2, alt:"logo React", title:"React", text:"React czyni bajecznie prostym tworzenie interfejsów użytkownika. Zaprojektuj proste widoki dla każdego stanu twojej aplikacji, a React skutecznie zaktualizuje i wyświetli właściwy komponent we właściwym czasie i miejscu, kiedy tylko twoje da&shy;ne się zmienią.", link:"https://reactjs.org/", icon:"icon-react", icontext:'Project page'},
        {datasrc: "images/pug.webp", datasrcfall: "./styles/img/skill_icons/pug.png", rating: 2, alt:"logo Pug", title:"Pug", text:"Czysty i dobrze zorganizowany HTML jest tym co kochają web developerzy. Pug, wcześ&shy;niej znany jako “Jade” (zmiana nazwy w związku z zastrzeżeniami własnościowymi) to wysokowydajny i bogaty w funkcjnalności silnik szablonów.", link:"https://pugjs.org/api/getting-started.html", icon:"icon-react", icontext:'Project page'},
        {datasrc: "images/jquery.webp", datasrcfall: "./styles/img/skill_icons/jquery.png", rating: 2, alt:"logo jquery", title:"jQuery", text:"jQuery to szybka, lekka i bogata w funkcjonalności biblioteka JavaScript. Pozwala tworzyć dynamiczne i łatwe w manipulacji dokumenty HTML, obsługiwać zdarzenia, animacje, i Ajax-a dużo prościej dzięki przyjaznemu API kompatybilnemu z absolutną większością przeglądarek.", link:"https://pl.wikipedia.org/wiki/JQuery", icon:"icon-wikipedia", icontext:'Project page'},
        {datasrc: "images/redux.webp", datasrcfall: "./styles/img/skill_icons/redux.png", rating: 1, alt:"logo redux", title:"Redux", text:"Redux to szybka, lekka i bogata w funkcjonalności biblioteka JavaScript. Pozwala tworzyć dynamiczne i łatwe w manipulacji dokumenty HTML, obsługiwać zdarzenia, animacje, i Ajax-a dużo prościej dzięki przyjaznemu API kompatybilnemu z absolutną większością przeglądarek.", link:"https://pl.wikipedia.org/wiki/Redux", icon:"icon-wikipedia", icontext:'Project page'}
        ]
-
    var texts = 
        {about1: "I'm Piotr Maksymiuk. Web developer. Originally from Poland, based in Warsaw, Poland. Some time ago I have decided to totally redirect my proffessional path. And it is in progress.",
        about2: "Currently I do not perform any jobs related to web mastering on regular basis. Yes, sometimes I get a task of preparing a part of page but that is nothing steady. I am seriously interested in joining IT company for day-to-day employment.",
        about3: "As per formal education I am chemical engineer, graduated at Warsaw Technical University in 1987. Afterwards I have worked for few distributing companies (usually distributor of plastic granulates - basic form for proccessing. That is branch and business I do know well. However, beacuase of many reasons (no need to describe that here in details) the decision of switching to IT is undertaken.",
        contact1:"Don't you think we can make a great collabo? If so, do not hesitate. Or just say 'Hello handsome...' and",
        contact2:"let's chat",
        contact3:"You can find me on:",
        contact4:"I am keen to start new cooperation or biz if it looks good, no problem with even most zappy projects",
        contact5:"Basically I answer emails the same or next day, with fb it's not that good, I do not visit it that often.",
        skill1:'Feel good with it.',
        skill2:'Yes, I know and apply. However do not feel really proficient yet.',
        skill3:'Learning currently',
        }
        
