html {
    width: 100%;
    height: 100%;
}

body {

    font-family: 'notoregular';
    font-size: 18px;
    letter-spacing: 2px;
    color: $text-color;
    background-color: transparent;
}

.no-webp body {
    cursor: url('../project_images/cursor.png'), default;
}

.webp body {
    cursor: url('../project_images/cursor.webp'), default;
}

main> :not(:target) {
    display: none;
}

main {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s;
}

.webp a {
    cursor: url('../project_images/cursor_active.webp'), default;
}

.no-webp a {
    cursor: url('../project_images/cursor_active.png'), default;
}

a:focus,
a:active {
    outline: none;
}
