#Skills{
    @include about;

    li :first-child{ font-size: 1.5rem;@include mobile{font-size: 16px;}}
}

.skills{
    display:flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding:10px;
    justify-content: center;
    align-items:center;
    max-width: 800px;
    max-width: calc(260px + 520 * (100vw - 320px) / 800);

    img {width:100px; margin: 20px;
 
        @media (max-width:650px) {
          width: calc(40px + 60 * (100vw - 320px) / 330); height: auto;
          margin: calc(5px + 15 * (100vw - 320px) / 330);
        }
    }
  }

// .skills img{width:100px; margin: 20px;
 
//     @media (max-width:650px) {
//       width: calc(40px + 60 * (100vw - 320px) / 330); height: auto;
//       margin: calc(5px + 15 * (100vw - 320px) / 330);
//     }
//   }


.skills_bootstrap { background-position: 0 0%; background-size: 100%; }
.skills_css { background-position: 0 6.40648%; background-size: 100%; }
.skills_html5 { background-position: 0 13.991163%; background-size: 100%; }
.skills_jquery { background-position: 0 21.575847%; background-size: 100%; }
.skills_js { background-position: 0 29.16053%; background-size: 100%; }
.skills_linux { background-position: 0 36.745214%; background-size: 100%; }
.skills_material { background-position: 0 44.329897%; background-size: 100%; }
.skills_mysql { background-position: 0 51.91458%; background-size: 100%; }
.skills_php { background-position: 0 57.508897%; background-size: 100%; }
.skills_pug { background-position: 0 63.622975%; background-size: 100%; }
.skills_react { background-position: 0 70.6355%; background-size: 100%; }
.skills_redux { background-position: 0 77.412281%; background-size: 100%; }
.skills_router { background-position: 0 84.830633%; background-size: 100%; }
.skills_sass { background-position: 0 92.415317%; background-size: 100%; }
.skills_styled { background-position: 0 100%; background-size: 100%; }

$skills: bootstrap, css, html5, jquery, js, linux, material, mysql, php, pug, react, redux, router,sass, styled;

@each $skill in $skills {
    .webp .skills_#{$skill} {
        max-width: 100%; background-size: 100%; background-image: url('../project_images/skills/skills.webp');
    }
    .no-webp .icon-#{$skill} {
        max-width: 100%; background-size: 100%; background-image: url('../project_images/skills/skills.png'); 
    }
}
