$footer-bottom: 25px;
$nav-top-margin: 85px;
$nav-top-margin-mobile:20px;
$nav-height: 120px;
$nav-height-mobile: 50px;

$nav-color:rgba(131,131,131,0.5);
$text-color:#F5A801;
$text-color-bis:rgb(122, 194, 33);
$link: #9ec684;

$breakMobile: 776px;
$breakSmallMobile: 422px;