@import'./base';
@import './oregano/oregano';
@import './noto/noto';


/* ================================== GENERAL ====================================== */


$footer-bottom: 25px;
$nav-top-margin: 85px;
$nav-top-margin-mobile:20px;

$link: #9ec684;
$nav-height: 120px;
$nav-height-mobile: 50px;


$gr1: #ca8951;
$gr2: #F2B887;

$gr3:#DDB76B;
$gr4:#FFEDCA;

$gr5: #FFA3A3;
$gr6: #FFCACA;

$gr7:#DD9F6B;
$gr8:#FFE2CA;


$nav-color:rgba(131,131,131,0.5);


$text-color:#F5A801;
$text-color-bis:rgb(122, 194, 33);

$breakMobile: 776px;

@mixin mobile {
  @media (max-width: #{$breakMobile - 1px}) {
    @content;
  }
}

@mixin above-mobile {
  @media (min-width: $breakMobile) {
    @content;
  }
}




html {width:100%; height:100%;
  background: url('../project_images/moon.jpg') no-repeat center center fixed; 
  background-size: cover;
}
  
body {
  
  font-family: 'notoregular';
  font-size: 18px;
  letter-spacing: 2px;
  color: $text-color;
  cursor: url('../project_images/cursor2.png'),default;
  background-color: transparent;
}
main > :not(:target) {
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s;
  cursor: url('../project_images/cursor2.png'),default;
 }
 
a:focus, a:active {outline:none;}

.h-center{text-align:center;
color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;


}
.flex-h-center{display:flex; justify-content: center}

li :first-child{ font-size: 1.5rem;@include mobile{font-size: 16px;}}
.overlay {
  visibility: hidden;
  position: fixed;
  width: 30vw;
  opacity: 0;
  transition: opacity 1s;
  right: 3vw;
  top: 3vw;
  z-index: 0;
  pointer-events: none;
  

  @include mobile {
    width: 100%;
    top: 0;
    right: 0;
  }
}

.overlay.overlay-visible {
  opacity: 1;
  
}
.overlay.overlay-hidden{
  opacity: 0;
}

.description {
  visibility: hidden;
  position: fixed;
  width: 30vw;
  opacity: 0;
  transition: opacity 1s;
  right: 3vw;
  top: 23vw;
  z-index: 0;
  font-size:2rem;
  text-align: center;
  pointer-events: none;

@include mobile {z-index: 1000;
  top:0;
  right:0;
  width:100%;
  height:62.5vw;
  display:flex;
  justify-content:center;
  align-items:center;}

}

  .description.description-visible {
    opacity: 1;
    
  }
  .description.description-hidden{
    opacity: 0;
  }



.frame {
  
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  

  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}


/* ================================== nav stuff ==================================== */
nav {
  transform-origin: bottom left;
  transform: rotate(90deg) translateX(-$nav-height);
  position: fixed;
  display: flex;
  width: 100vh;
  height: $nav-height;
  top: 0;
  justify-content: space-evenly;
  align-items:center;
  //padding-bottom: 1rem;
  background-color: $nav-color;
    @include mobile{background:transparent;
      background:$nav-color;
      height: $nav-height-mobile;
      transform: rotate(90deg) translateX(-$nav-height-mobile);}

 

}
  

#line{
margin-right:  20px;

}

.neon{
color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;}









/* ===================== project links styles ============================= */
.home-page {
  margin: 0 0 0 $nav-top-margin;
  line-height: 1.2;
  padding: 0 0 5px 50px;
  border-width: 100px;
  line-height: 1.6;
  min-height: 100vh;
  @include mobile
  {font-size: calc(2vw + 3vh);
    line-height: 1.3; }
}

.hovercontroll{font-size: 4vw;}

footer{
  right: 20px;
  position: fixed;
  bottom: 20px;
  //color: $text-color-bis;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;



  @include mobile{font-size: 14px;}

  }

 footer a {
 display: inline-block;
 padding: 0 0 30px 10px;
 transform-origin: top right;
 transform: rotate(60deg);
 position: absolute;
}
footer a:hover {
  color:$link;
}

#github {
  right: 10px;
  bottom: -40px;
}
#facebook{
  right: 55px;
  bottom: -40px;
}

.projects-container{
  @include mobile{padding-top: 62.5vw;}
}

/* =============================== responsive ==================================== */

.about {letter-spacing: 1px; min-height: 100vh;}

.about h3 {
  font-size: 4vw;
  line-height: 1.2;
  padding: 50px 0 5px 150px;
  border-width: 100px;
  text-align:center;
   @include mobile {
    padding:10px 0 5px 60px; 
    font-size: 5vh; }
}

.about p {
  margin: 0 0 20px 8px;
  line-height: 1.2;
  padding: 1vh 10px 5px 150px;
 	border-width: 100px;
  font-weight: 100;
  @include mobile { padding-left: 50px;}
}

.about li :not(:first-child) {margin: 0 0 0 calc(50vw - 50px); padding: 1vh; border:none;}
.lgrad{background-image: linear-gradient(to left,$gr1, $gr2);}
.rgrad{background-image: linear-gradient(to right,$gr1, $gr2);}
.cgrad{background-image: linear-gradient(to right,$gr1, $gr2);}

.about-links {
  line-height: 1.8;
  margin: 8px 0 10px 0;
}

.about a {
  //color: $text-color-bis;
  transition: color 0.5s;
  display: inline-block;
  &:hover{color: $link}
  @include mobile {
      
    font-size: 14px;
    padding: 5px 0 0 0;
    margin:0 ;
  }
}

.column {
    float: left;
    width: 50%;
    min-height:100vh;
    @include mobile  {width: 100%;}
}

.column2 {
    float: left;
    width: 33.33%;
}
.full-column{ width: 100%;}


/* Clear floats after the columns */
.about:after {
    content:"";
    display: table;
    clear: both;
  
}
.home {
  font-family: 'oreganoitalic';
  min-height: 100vh;
  font-size: calc(2vw + 4vh);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    font-size: calc(2vw + 4vh);
    margin-top: calc(2vw + 4vh);

    @include mobile {
      font-size: calc(2vw + 3vh);
      margin-top: calc(2vw + 3vh)
    }
  }
}
.home__foto{
  position:relative; 

  @include above-mobile {display:block;
  width:10vw;
  height: auto;
  margin: 1vh 0 1vh 0;
  position: absolute;
  top:1vw;
  left: calc( #{$nav-height} + 1vw);}
 
  }
    
  @media screen and (max-width: 775px) {
    //.home p {font-size: calc(2vw + 3vh); margin-top: calc(2vw + 3vh)}
    
    .column2 {
        width: 100%;
    }
    
} 

  @media screen and (max-width: 422px) {
  
    p{
      font-size: 14px;
      line-height: 1;
      
      
    }
      .about h3{
      font-size: 42px;
       
    }
    .about a {
      font-size: 14px;
      
    }
} 


/* ================================== PROJECT STYLES ============================= */

.fancy-l {
  animation: fancy-l 0.9s ease-out;
  will-change: transform, opacity;
}

@keyframes fancy-l {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}


.fancy-r {
  animation: fancy-r 0.9s ease-out;
  will-change: transform, opacity;
}

@keyframes fancy-r {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
