@import'./base';
@import './oregano/oregano';
@import './noto/noto';
@import './loader';

/* ================================== GENERAL ====================================== */


$footer-bottom: 25px;
$nav-top-margin: 85px;
$nav-top-margin-mobile:20px;

$link: #9ec684;
$nav-height: 120px;
$nav-height-mobile: 50px;


$gr1: #ca8951;
$gr2: #F2B887;

$gr3:#DDB76B;
$gr4:#FFEDCA;

$gr5: #FFA3A3;
$gr6: #FFCACA;

$gr7:#DD9F6B;
$gr8:#FFE2CA;


$nav-color:rgba(131,131,131,0.5);


$text-color:#F5A801;
$text-color-bis:rgb(122, 194, 33);

$breakMobile: 776px;

@mixin mobile {
  @media (max-width: #{$breakMobile - 1px}) {
    @content;
  }
}

@mixin above-mobile {
  @media (min-width: $breakMobile) {
    @content;
  }
}




html {
  width:100%; height:100%;
  
}
  
body {
  
  font-family: 'notoregular';
  font-size: 18px;
  letter-spacing: 2px;
  color: $text-color;
  
  background-color: transparent;
}

.no-webp body{cursor: url('../project_images/cursor.png'),default;}
.webp body{cursor: url('../project_images/cursor.webp'),default;}

main > :not(:target) {
  display: none;
}

main{ position: relative;}
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s;  
 }

.webp a {cursor: url('../project_images/cursor_active.webp'),default;}
.no-webp a{cursor: url('../project_images/cursor_active.png'),default;}

a:focus, a:active {outline:none;}

.h-center{
    text-align:center;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
.flex-h-center{display:flex; justify-content: center}

li :first-child{ font-size: 1.5rem;@include mobile{font-size: 16px;}}
.overlay {
  visibility: hidden;
  position: fixed;
  width: 30vw;
  opacity: 0;
  transition: opacity 1s;
  right: 3vw;
  top: 3vw;
  z-index: 0;
  pointer-events: none;
  

  @include mobile {
    width: 100%;
    top: 0;
    right: 0;
  }
}

.overlay.overlay-visible {
  opacity: 1;
  
}
.overlay.overlay-hidden{
  opacity: 0;
}

.overlay img{@include mobile {
  width: 100%;}}

.description {
  visibility: hidden;
  padding: 0 2% 0 2%;
  position: fixed;
  width: 30vw;
  opacity: 0;
  transition: opacity 1s;
  right: 3vw;
  top: 24vw;
  z-index: 0;
  font-size:2rem;
  text-align: center;
  pointer-events: none;
  color:#2C5F2D;
  background-color:#97BC62FF;
  border-radius:2px;
  box-shadow: inset 0 0 10px #2C5F2D;
                
@include mobile {z-index: 1000;
  top:0;
  right:0;
  width:100%;
  height:62.5vw;
  font-size: 4vw;
  display:flex;
  border: none;
  transition-delay: 3s;
  justify-content:center;
  align-items:center;}

}

  .description.description-visible {
    opacity: 1;
    
  }
  .description.description-hidden{
    opacity: 0;
  }

.frame {
  
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  

  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}


/* ================================== nav stuff ==================================== */
nav {
  transform-origin: bottom left;
  transform: rotate(90deg) translateX(-$nav-height);
  position: fixed;
  display: flex;
  width: 100vh;
  height: $nav-height;
  top: 0;
  justify-content: space-evenly;
  align-items:center;
  z-index:1000;
  background-color: $nav-color;
  
    @include mobile{background:transparent;
      background:$nav-color;
      height: $nav-height-mobile;
      transform: rotate(90deg) translateX(-$nav-height-mobile);};

& article a{ padding:20px 10px;} 

}
  

#line{
margin-right:  20px;

}

.neon{
color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;}





/* ===================== project links styles ============================= */
.home-page {
  margin: 0 0 0 $nav-top-margin;
  line-height: 1.2;
  padding: 0 0 5px 50px;
  border-width: 100px;
  line-height: 1.6;
  min-height: 100vh;
  @include mobile
  {font-size: calc(2vw + 3vh);
    margin: 0 0 0 50px;
    padding: 0 0 5px 0;
    width: calc(100% - 50px);
    border-width: unset;
    line-height: 1.3; }
}

.hovercontroll{font-size: 4vw;}

footer{
  right: 20px;
  position: fixed;
  bottom: 20px;
  //color: $text-color-bis;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;



  @include mobile{font-size: 14px;}

  }

 footer a {
 display: inline-block;
 padding: 0 0 30px 10px;
 transform-origin: top right;
 transform: rotate(60deg);
 position: absolute;
}
footer a:hover {
  color:$link;
}

#github {
  right: 10px;
  bottom: -40px;
}
#facebook{
  right: 55px;
  bottom: -40px;
}

.projects-container{
  @include mobile{padding-top: 62.5vw;padding-left: 2%;}
}

#About,#Projects{
  animation: fadein 0.3s ease-in-out forwards;
  transform:translateZ(0);
  will-change:opacity;
}
@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* =============================== responsive ==================================== */

.about {letter-spacing: 1px; min-height: 100vh;overflow-x: hidden;}

.about h3 {
  font-size: 4vw;
  line-height: 1.2;
  padding: 50px;
  text-align:center;
}

.about p {
  margin: 0 0 20px 8px;
  line-height: 1.2;
  padding: 1vh 10px 5px 150px;
 	border-width: 100px;
  font-weight: 100;
  @include mobile { padding-left: calc(50px + 2%); padding-right: 2%;}
}

.lgrad{background-image: linear-gradient(to left,$gr1, $gr2);}
.rgrad{background-image: linear-gradient(to right,$gr1, $gr2);}
.cgrad{background-image: linear-gradient(to right,$gr1, $gr2);}

.about-links {
  line-height: 1.8;
  margin: 8px 0 10px 0;
}

.about a {
  
  transition: color 0.5s;
  display: inline-block;
  &:hover{color: $link}
  @include mobile {
      
    font-size: 14px;
    padding: 5px 0 0 0;
    margin:0 ;
  }
}

.column {
    float: left;
    width: 50%;
    min-height:100vh;
    @include mobile  {width: 100%;}
}

.column2 {
    float: left;
    width: 33.33%;
}
.full-column{ width: 100%;}

.about:after {
    content:"";
    display: table;
    clear: both;
  
}

.home {
  font-family: 'oreganoitalic';
  min-height: 100vh;
  font-size: calc(2vw + 4vh);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    font-size: calc(2vw + 4vh);
    margin-top: calc(2vw + 4vh);

    @include mobile {
      font-size: calc(2vw + 3vh);
      margin-top: calc(2vw + 3vh)
    }
  }
}
.home__foto{
  position:relative; 
  @include above-mobile {display:block;
  height: auto;
  margin: 1vh 0 1vh 0;
  position: absolute;
  top:1vw;
  left: calc( #{$nav-height} + 1vw);}
 
  }
    
  @media screen and (max-width: 775px) {
        
    .column2 {
        width: 100%;
    }
    
} 

  @media screen and (max-width: 422px) {
    p{
      font-size: 14px;
      line-height: 1; 
    }
      
    .about a {
      font-size: 14px;
    }
} 
.author-foto{
  position:relative;
  width:30px;
  height:42px; 
  @include above-mobile {
	margin: 1vh 0 1vh 0;
	position: absolute;
	top: 1vw;
  left: calc( 120px + 1vw);
  }
}
.webp .author-foto{background-image:  url("../project_images/foto2.webp");}
.no-webp .author-foto{background-image:  url("../project_images/foto2.png");}

.left{pointer-events:none;transform:translateZ(0);}
.right{pointer-events:none;transform:translateZ(0);}
/* ================================== PROJECT STYLES ============================= */

.fancy-l {
  animation: fancy-l 0.9s ease-out;
  will-change: transform, opacity;
}

@keyframes fancy-l {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    pointer-events:auto;
    transform: translateX(0rem);
    pointer-events:auto;
    
  }
}

.fancy-r {
  animation: fancy-r 0.9s ease-out;
  will-change: transform, opacity;
}

@keyframes fancy-r {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
    pointer-events:auto;
    
  }
}

#canvas {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  transform:translateZ(0);
}

.skills{
  display:flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding:10px;
  justify-content: center;
  align-items:center;
  max-width: 800px;
  max-width: calc(260px + 520 * (100vw - 320px) / 800);
  
}
.skills img{width:100px; margin: 20px;
 
  @media (max-width:650px) {
    width: calc(40px + 60 * (100vw - 320px) / 330); height: auto;
    margin: calc(5px + 15 * (100vw - 320px) / 330);
  }
}
 
.skills_bootstrap { background-position: 0 0%; background-size: 100%; }
.skills_css { background-position: 0 6.40648%; background-size: 100%; }
.skills_html5 { background-position: 0 13.991163%; background-size: 100%; }
.skills_jquery { background-position: 0 21.575847%; background-size: 100%; }
.skills_js { background-position: 0 29.16053%; background-size: 100%; }
.skills_linux { background-position: 0 36.745214%; background-size: 100%; }
.skills_material { background-position: 0 44.329897%; background-size: 100%; }
.skills_mysql { background-position: 0 51.91458%; background-size: 100%; }
.skills_php { background-position: 0 57.508897%; background-size: 100%; }
.skills_pug { background-position: 0 63.622975%; background-size: 100%; }
.skills_react { background-position: 0 70.6355%; background-size: 100%; }
.skills_redux { background-position: 0 77.412281%; background-size: 100%; }
.skills_router { background-position: 0 84.830633%; background-size: 100%; }
.skills_sass { background-position: 0 92.415317%; background-size: 100%; }
.skills_styled { background-position: 0 100%; background-size: 100%; }

$skills: bootstrap, css, html5, jquery, js, linux, material, mysql, php, pug, react, redux, router,sass, styled;
@each $skill in $skills {
  .webp .skills_#{$skill} {
    max-width: 100%; background-size: 100%; background-image: url('../project_images/skills/skills.webp');
  }
  .no-webp .icon-#{$skill} {
    max-width: 100%; background-size: 100%; background-image: url('../project_images/skills/skills.png'); 
  }
}

.ufo{
  position:absolute; 
  width:64px; 
  height:64px; 
  will-change: left, top;        
  background-image: url('../project_images/ufo.png');}